alpha_*/
tables/
cas_index/
data/
*.fits
*.png
*.csv
*.reg
*.txt
corr_prfl_galasym2_96.cl
._*
.DS_Store
.DS
config/src/dont_src
config/psfex/prepsfex/my_prepsfex.cat
config/psfex/prepsfex/my_prepsfex.sex
config/psfex/my_default.psfex
config/sextractor/my_default.sex
config/sextractor/my_prepsfex.psf
