data/
alpha_*/
abs_*/
rms_*/
outer_*/
pawlik*/
*.fits
*.png
*.csv
*.txt
glxys_in_image.reg
corr_prfl_galasym2_96.cl
._*
.DS_Store
.DS
config/src/dont_src
config/src/.dont_src
config/src/__pycache__/
A496/
